.footer{
    background-color: #fff;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.footer .footer-about{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .footer-about a{
   text-decoration: underline;
   cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .footer{
      display: flex;
      flex-direction: column;
      gap:10;
      align-items: start;
      padding: 0 20px;

      }
      .footer-about{
        margin: 20px 0;
      }
   }