.term-list-wrapper{
  background-color: #fff;
  display: flex;
  margin: 2em 10em;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
  border-radius: 5px;
}

.term-list h2{
  margin: 10px 0;
}
.term-list {
    width: 100%;
    list-style-type: none;
    padding: 0 10px;
    margin: 20px;
  }
  
  .term-item {
    margin: 10px 0;
  }
  
  .term-item a {
    text-decoration: none;
    color: #61dafb;
  }
  
.term-header{
  font-size: "28px";
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .term-list-wrapper{
    margin: 1rem 1.5rem;
    }
 }